<div
  class="container-fluid"
  style="background: linear-gradient(to left, black, white, yellow)"
>
  <div class="row">
    <div class="col-md-3"><img src="./assets/logo.png" height="110px" /></div>

    <div class="col-md-7" style="padding: 10px">
      <h1 style="font-size: 80px; font-family: Chinyen">S H O P P I F Y</h1>
    </div>

    <div class="col-md-2" style="padding: 20px">
      <a routerLink="/login" routerLinkActive="active"
        ><button class="btn btn-danger" style="font-size: 30px">
          LOG IN
        </button></a
      >
    </div>
  </div>

  <div class="row">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li>
        <a href="#" routerLink="/outlets" routerLinkActive="active"
          >OFFLINE OUTLETS</a
        >
      </li>
    </ul>
  </div>
</div>
