<style>
  label {
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .container-fluid {
    background-color: black;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <label><a href="#">Licences</a></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label><a href="#">Contact Us</a></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label><a href="#">Mail Us</a></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label><a href="#">Headquarters</a></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="col-md-5">
      <label>Copyright @ ShoppifyInternationals Pvt Ltd (2022)</label>
    </div>
  </div>
</div>
