<style>
  label {
    font-size: 30px;
    font-weight: bolder;
  }

  .container-fluid {
    background: linear-gradient(white, yellow);
  }
</style>

<div class="container-fluid" style="text-align: center; padding: 90px">
  <label for="username">Enter Your Username: </label><br />
  <input type="text" id="username" />

  <br /><br />

  <label for="email">Enter the registered Email: </label><br />
  <input type="email" id="email" />

  <br /><br />

  <label for="password">Enter the Password: </label><br />
  <input type="password" id="password" />

  <br /><br />

  <label for="choice"
    >Keep Me Signed In? : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
  >
  <select id="choice">
    <option value="1">YES !!!</option>
    <option value="2">NO :(</option>
    <option value="3">Don't Ask me Again</option>
  </select>

  <br /><br />

  <button class="btn btn-danger" style="font-size: 30px">LOG IN !!!</button>
</div>
