<div class="container-fluid" style="text-align: center">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <input type="search" />
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-danger">SEARCH</button>
    </div>
  </div>

  <br />

  <div class="row">
    <h2 style="font-family: Alien Encounters; font-size: 50px">CATEGORIES</h2>
    <hr />
    <br />

    <ul>
      <li><a href="#">Electronics</a></li>
      <br />
      <li><a href="#">Mobiles</a></li>
      <br />
      <li><a href="#">Computers</a></li>
      <br />
      <li><a href="#">Fashion - Men</a></li>
      <br />
      <li><a href="#">Fashion - Women</a></li>
      <br />
      <li><a href="#">Personal Grooming</a></li>
      <br />
      <li><a href="#">Home Appliances</a></li>
      <br />
      <li><a href="#">Pets </a></li>
      <br />
      <li><a href="#">Home Furnishing</a></li>
      <br />
      <li><a href="#">Others</a></li>
      <br />
    </ul>
  </div>
</div>
